.footer-button-blue,
.header-button-blue {
  width: 100%;
  height: 100%;
  background: #1e46f8;
  border-color: #1e46f8;
}

.header-button-blue {
  margin-left: 50px;
  margin-top: 20px;
}

.container-banner-cta .this-header {
  line-height: 150%;
  font-size: 24px;
}

.container-head {
  background-color: #f1f3ff;
}

.sidebar .container {
  margin-top: 40px;
}

nav,
header {
  height: 100px;
  width: 100%;
  background-color: #f1f3ff;
  align-items: center;
}

.nav-link {
  font-weight: normal;
  list-style: none;
  float: left;
  padding-left: 20px;
  line-height: 20px;
}

.nav-link,
.paragraph {
  font-size: 14px;
}

.btn-header {
  float: left;
  margin-left: 50px;
}

.button-header {
  float: left;
}

.header-right {
  padding: 0 25px;
  margin-top: 25px;
  float: right;
  margin-left: auto;
}

.margin-button {
  margin-top: 25px;
}

.this-navbar {
  font-size: 12px;
  line-height: 135%;
}

.nav-link,
.this-header,
.this-navbar,
.card-heading,
.paragraph,
.header-right,
.footer-button .btn-outline-success:hover,
.button-header .btn-outline-success:hover {
  font-family: Helvetica;
  font-style: normal;
  color: #000000;
}

.home-section-one {
  display: flex;
}

.home-section-one .left {
  float: left;
  width: 50%;
  margin-top: 50px;
  font-style: normal;
  margin-left: 50px;
}

.home-section-one .right {
  width: 50%;
  float: right;
  text-align: right;
}

.right .images-car {
  max-width: 100%;
  max-height: 100%;
  margin-right: -10px;
}

.paragraph {
  font-weight: 300;
  line-height: 20px;
  /* or 143% */
}

.clear {
  clear: left;
}

.this-header {
  font-size: 36px;
  line-height: 150%;
}

.this-header,
.card-heading,
.this-navbar,
.footer-button .btn-outline-success:hover,
.button-header .btn-outline-success:hover {
  font-weight: bold;
}

.home-section {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home-section .left {
  float: left;
  margin-left: 50px;
  width: 50%;
}

.home-section .right {
  float: right;
  width: 50%;
  margin-top: 70px;
}

.images-service {
  max-width: 100%;
  max-height: 95%;
  margin-top: 50px;
}

.ukuran {
  max-width: 70%;
}

.card-heading {
  font-size: 16px;
  line-height: 24px;
}

.card-only {
  width: 20%;
  float: left;
  height: 250px;
  margin-right: 15px;
}

.why-us {
  margin-left: 50px;
}

.border-why-us {
  padding: 10px;
  width: 100%;
  height: 80%;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
  float: left;
}

.size-card-text {
  width: 100%;
}

.carrousel {
  width: 95%;
  height: 90%;
  background: #f1f3ff;
  /* Shadow/Low */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 50px;
  display: flex;
}

.item-items {
  margin-left: 50px;
}

.content {
  margin-top: 15px;
  padding-right: 40px;
}

.images-testinomial {
  width: 60% !important;
  height: 40% !important;
  margin-top: 40%;
  float: left;
  margin-left: 25%;
}

.accordion-spacing {
  margin-left: 50px;
  justify-content: space-between;
}

.container-banner-cta {
  width: 92%;
  height: 80%;
  margin-top: 10px;
  /* Primary/DarkBlue/04 */
  border-radius: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.banner-box {
  /* Primary/LimeGreen/04 */
  background-color: #5cb85f;
  border-radius: 2px;
  align-items: center;
}

.accordions {
  width: 95%;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 35px;
}

.btn-outline-success {
  color: #050505;
  border-color: #000000;
}

.footer-button .btn-outline-success:hover,
.button-header .btn-outline-success:hover {
  color: #000;
}

.btn-outline-success:hover {
  background-color: rgba(190, 230, 60, 1);
  border-color: rgba(190, 230, 60, 1);
  transform: scale(1.25);
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.button-green {
  background-color: #5cb85f;
  border-radius: 2px;
  border-color: #5cb85f;
  color: #fff;
}

.am-next .btn-outline-success {
  background: #fff;
  color: #050505;
  border-color: #000000;
}

.am-prev .btn-outline-success {
  background: #5cb85f;
  border-color: #5cb85f;
  color: #050505;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
}

.footer-button-blue {
  width: 50%;
}

.sidebar a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.span {
  float: right;
}

.sidebar .closebtn {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f1f3ff;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f1f3ff;
}

.sidebar .button-green {
  display: flex;
  width: 75%;
  margin-left: 10px;
}

#main {
  transition: margin-left 0.5s;
  padding: 5px;
  float: right;
}

.footer-main {
  margin-left: 50px;
}

.footer {
  height: 100%;
  margin-bottom: 50px;
}

.footer-list {
  width: 25%;
  list-style: none;
  float: left;
  padding-right: 10px;
}

.footer-list .paragraph {
  padding-top: 15px;
}

.button-header .this-header,
.footer .this-header {
  font-size: 24px;
}
